@import url(genericons.css);
@import url(japanesebrush.css);

span.genericon {
	margin-top: 3px;
}

header.site-header h1 {
  font-family: 'japanese_brushregular' !important;
}

/* override header style if no featured image */
section.article article.post header.no-image {
  margin-top: 50px;
  height:auto;
}        
section.article article.post header.no-image hgroup {
  position: static;
}

section.article article.post header.no-image hgroup p.category {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
section.article article.post header.no-image hgroup h1 {
  color: #333332;
  margin-bottom: 0;
}
section.article article.post header.no-image hgroup p.lead {
  color: #666;
  font-size: 20px;
}

/* page-specific style */
body.location section.article article.post div.video-container {
	margin-bottom:0 !important;
	padding-bottom: 690px !important;
}

body.about-us .article .genericon {
	font-size:32px;
	height: 32px;
	width: 32px;
}


@media only screen and (max-width : 960px) {

}